#bg-ice {
    background: #D4D5DA;
}

#window {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#window > div {
    padding: 0 .75rem;
}

.goal-light {
    height: auto;
    width: 18px;
}

.record-light {
    height: auto;
    width: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    user-select: none;
    width: 100%;
}

div {
    margin: 0 auto;
    width: 100%;
}

footer {
    align-items: center;
    background: #041E42;
    color: #fff;
    cursor: default;
    display: flex;
    justify-content: center;
    padding: .75rem 1rem;
    width: 100%;
    z-index: 1;
}

footer a {
    color: #fff;
    position: relative;
    z-index: 1;
}

h1 {
    color: #041E42;
    margin: 0;
}

header {
    color: #111;
    margin: 2rem 0;
    padding: 0 .5rem;
    position: relative;
    z-index: 1;
}

header > div {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-bottom: 1rem;
}

html {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

main {
    margin: 0 auto 5rem;
    width: 100%;
}

table {
    margin-bottom: 50px;
    text-align: left;
}

td,
th {
    padding: 2px 1rem;
    max-width: 275px;
}

tr:nth-child(odd) td {
    background: rgba(41,41,41,.1);
}
