/* modern-normalize.css start */
*,::before,::after{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';line-height:1.15;-webkit-text-size-adjust:100%;tab-size:4}body{margin:0}b,strong{font-weight:bolder}code,kbd,samp,pre{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{border-color:currentcolor}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,[type='button'],[type='reset'],[type='submit']{-webkit-appearance:button}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type='search']{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}
/* modern-normalize.css end */

#bg-ice {
    background: #D4D5DA;
}

#ovechkin-goals_wrapper {
    max-height: 800px;
    overflow: scroll;
}

#window {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    > div {
        padding: 0 .75rem;
    }
}

.badge-flex {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    a {
        background: #DFDFDF;
        border-radius: .375rem;
        color: #111;
        min-width: 75px;
        padding: .625rem 1rem;
        text-align: center;
        text-decoration: none !important;
        transition: transform .2s;

        &:active,
        &:hover {
            transform: scale(1.05);
        }
    }
}

.container {
    max-width:1024px;
    padding:0 16px;
    text-align:start;
}

.dt-empty,
.dt-info {
    display: none;
}

.goal-light {
    height: auto;
    width: 18px;
}

.record-light {
    height: auto;
    width: 30px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    user-select: none;
    width: 100%;
}

div {
    margin: 0 auto;
    width: 100%;
}

footer {
    align-items: center;
    background: #041E42;
    color: #fff;
    cursor: default;
    display: flex;
    justify-content: center;
    padding: .75rem 1rem;
    width: 100%;
    z-index: 1;

    a {
        color: #fff;
        position: relative;
        z-index: 1;
    }
}

h1 {
    color: #041E42;
    margin: 0;
}

header {
    color: #111;
    margin: 2rem 0;
    padding: 0 .5rem;
    position: relative;
    z-index: 1;

    a:hover {
        color: #C8102E;
    }

    > div {
        align-items: center;
        display: flex;
        gap: .75rem;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

html {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

main {
    margin: 0 auto 5rem;
    width: 100%;

    > ul li {
        margin-bottom: .375rem;
    }
}

table {
    margin-bottom: 50px;
    text-align: left;
}

td,
th {
    padding: 2px 1rem;
    max-width: 275px;
}

tr:nth-child(odd) td {
    background: rgba(41,41,41,.1);
}
