#root {
    box-sizing: border-box;
    max-width: 1000px;
    padding: 0 8px;
}

#search-help {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

#search-help ul {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    user-select: none;
    width: 100%;
}

div {
    margin: 0 auto;
    width: 100%;
}

footer {
    align-items: center;
    background: #041E42;
    bottom: 0;
    color: #fff;
    cursor: default;
    display: flex;
    justify-content: center;
    left: 0;
    padding: .5rem 1rem;
    position: fixed;
    width: auto;
    z-index: 1;
}

footer a {
    color: #fff;
    position: relative;
    z-index: 1;
}

h1 {
    color: #041E42;
    margin: 0;
}

header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 4px;
    justify-content: center;
    margin: 1rem 0;
    padding: 0 8px;
}

html {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

iframe {
    border: 0;
    min-height: 650px;
    width: 100%;
}

main {
    margin: 0 auto 5rem;
    max-width: 1024px;
    width: 100%;
}

table {
    margin-bottom: 50px;
    text-align: left;
}

td,
th {
    padding: 2px 1rem;
    max-width: 275px;
}

tr:nth-child(odd) td {
    background: rgba(41,41,41,.1);
}

ul {
    margin: 0 auto;
    max-width: 300px;
}

@media (min-width:576px) {
    header {
        gap: 1rem;
        padding: 0;
    }
}

@media (min-width:768px) {
    #search-help {
        flex-direction: row;
    }
}

@media (min-width:992px) {
    #root {
        padding: 0;
    }
}
