#advanced {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 0 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms;
}

#advanced.show {
  opacity: 1;
  pointer-events: all;
}

#advanced label,
#count {
  font-size: 1.5rem;
}

#cracked-ice,
#ice {
  background: url('../public/bg/ice.jpg');
  height: 100vh;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#cracked-ice {
  animation: iceChange 8s infinite alternate;
  background: url('../public/bg/cracked-ice.jpg');
}

@keyframes iceChange {
  0% {
    opacity: .5;
    transform: scale(1.0);
  }
  100% {
    opacity: .25;
    transform: scale(1.125);
  }
}

#goal {
  height: 75px;
  position: relative;
  width: 75px;
}

#goal img {
  height: auto;
  width: 100%;
}

#goal-count {
  font-size: 2.75rem;
}

#root {
  max-width: 1024px;
}

#search-text-1,
#search-text-2:focus,
#search-text-3:focus {
  max-width: 100%;
  padding: 3px 8px;
}

#search-text-1:active + input,
#search-text-1:focus + input,
#search-text-2:active + input,
#search-text-2:focus + input {
  max-width: 75px;
  padding: 3px 8px;
}

#season {
  font-size: 1.25rem;
  padding: 4px;
}

.copy {
  background-color: transparent;
  background-image: url(/public/icons/copy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  height: 16px;
  min-width: 0;
  outline: 0;
  padding: 0;
  text-indent: -9999px;
  width: 16px;
}

.copy:active {
  background-image: url(/public/icons/thumb.svg);
}

.goal-text {
  bottom: 2rem;
  color: #1E3673;
  font-size: 2rem;
  position: absolute;
}

.link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.link strong {
  font-size: 1.125rem;
  user-select: text;
}

.note {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  justify-content: center;
  left: -30px;
  transition: all .25s ease-in-out;
  z-index: 1;
}

.note > div {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  margin: 0;
  position: relative;
  width: auto;
}

.note > div:first-of-type {
  align-items: center;
  justify-content: center;
  width: 100px;
}

.note .type {
  background: radial-gradient(#EF4933 40%, transparent);
  color: #FFD2C7;
  font-size: 2rem;
  left: 50%;
  letter-spacing: -2px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%,calc(-50% + 12px));
}

.note h3 {
  font-size: 1.5rem;
  margin: 0;
}

.note strong {
  font-size: 1.25rem;
}

.frame {
  margin-bottom: 2.5rem;
  position: relative;
}

.goal-light {
  height: auto;
  width: 18px;
}

.goal-siren {
  height: auto;
  pointer-events: all;
  width: 70px;
}

.loading {
  opacity: .25;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.record-light {
  height: auto;
  width: 30px;
}

body {
  cursor: url('../public/bg/puck.png'), auto;
}


body.goal-lights {
  animation: goalLights .5s linear infinite;
  cursor: auto;
}

@keyframes goalLights {
  0% {
    background: rgba(200,16,46,.8);
  }
  25% {
    background: rgba(200,16,46,.2);
  }
  50% {
    background: rgba(200,16,46,.8);
  }
  75% {
    background: rgba(200,16,46,.2);
  }
  100% {
    background: rgba(200,16,46,.8);
  }
}

body.goal-lights #goal:before {
  background: url('../public/bg/puck.png') no-repeat;
  bottom: 22px;
  content: '';
  display: block;
  left: 28px;
  height: 11px;
  position: absolute;
  width: 20px;
}

button {
  backface-visibility: hidden;
  background: #CE8946;
  border: 0;
  border-radius: .375rem;
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  box-sizing: border-box;
  color: #292929;
  cursor: pointer;
  display: inline-block;
  font-size: .9375rem;
  font-weight: 700;
  line-height: 1.3;
  min-width: 150px;
  padding: .625rem 1rem;
  transition: transform .2s;
}

button:hover {
  box-shadow: 0 .5rem 2.5rem #041E42;
  transform: scale(1.05);
}

button:active {
  box-shadow: 0 .5rem 1rem #041E42;
  transform: scale(1.05) translateY(.125rem);
}

button[name="Reset"] {
  background: transparent;
  font-size: .875rem
}

button[name="Reset"]:hover,
button[name="Reset"]:active {
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
}

form {
  align-items: center;
  background: #F2F0EF;
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

form > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

form h2 {
  color: #C8102E;
  font-size: 1.5rem;
  margin: 0;
}

form strong {
  border-bottom: 3px solid #CE8946;
  color: #1E3673;
  font-size: 1.33rem;
}

header {
  margin: 2rem 0;
}

header a:hover {
  color: #C8102E;
}

iframe {
  aspect-ratio: 16 / 9;
  background: #000;
  border: 0;
  box-shadow: rgba(200, 16, 46, 0.4) 10px 10px, rgba(200, 16, 46, 0.3) 20px 20px, rgba(200, 16, 46, 0.2) 30px 30px, rgba(200, 16, 46, 0.1) 40px 40px, rgba(200, 16, 46, 0.05) 50px 50px;
  height: auto;
  min-height: 0;
  position: relative;
  width: 100% !important;
}

.shadow {
  box-shadow: rgba(4, 30, 66, 0.4) -10px -10px, rgba(4, 30, 66, 0.3) -20px -20px, rgba(4, 30, 66, 0.2) -30px -30px, rgba(4, 30, 66, 0.1) -40px -40px, rgba(4, 30, 66, 0.05) -50px -50px;
  margin: 0 0 3rem;
  max-width: 992px;
}

input[placeholder] {
  background: transparent;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  outline: 0;
  padding: 3px;
  width: 100%;
}

#search-goal {
  caret-color: #C8102E;
  color: #C8102E;
  max-width: 90px;
  text-align: center;
  text-indent: 12px;
}

input[type="text"] {
  caret-color: #C8102E;
  color: #C8102E;
  margin-top: 1px;
  max-width: 0;
  padding: 3px 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 500ms;
  width: 100%;
}

input[type="text"]:not(:placeholder-shown) {
  max-width: 100%;
  padding: 3px 8px;
}

input[type="text"]::placeholder {
  font-size: 1.35rem;
  font-weight: 400;
}

input[type="number"]:focus-visible {
  border-bottom: 2px solid #C8102E;
}

input[type="number"]:focus-visible::placeholder {
  opacity: 0;
}

input[type="number"]::placeholder {
  color: #000;
  font-weight: normal;
  opacity: .5;
}

input[type="text"]::placeholder {
  text-transform: none;
}

label {
  cursor: url('../public/bg/puck.png'), auto;
  min-width: 105px;
}

label[for="search-goal"]:before {
  content: 'by ';
}

label[for="search-text-1"] {
  min-width: 65px;
}

label[for="search-text-1"]:before {
  content: 'or ';
}

@media (min-width: 768px) {
  button {
    min-width: 80px;
  }

  form > div {
    flex-direction: row;
  }

  input[type="text"] {
    text-align: left;
  }

  .note {
    flex-direction: row;
  }
}
@media (min-width:992px) {
  .goal-siren {
    width: 100px;
  }

  .note strong {
    font-size: 1.5rem;
  }

  .icon {
    height: 44px;
    width: 44px;
  }

  #root {
    padding: 0 16px;
  }
}
