#copy {
  background-color: transparent;
  background-image: url(/public/copy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  height: 16px;
  margin-top: -4px;
  outline: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  width: 16px;
}

#copy:active {
  background-image: url(/public/thumb.svg);
}

#link {
  font-size: 1.125rem;
}

#root {
  box-sizing: border-box;
  max-width: 1000px;
  padding: 0 8px;
}

.copy {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.flex {
  align-items: center;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.goal-light {
  height: auto;
  width: 24px;
}

.iframe {
  position: relative;
}

.loading {
  opacity: .25;
}

.record-light {
  height: auto;
  width: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

footer {
  align-items: center;
  background: #041E42;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
  width: auto;
}

footer a {
  color: #fff;
}

form {
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
}

h1 a {
  color: #041E42;
}

header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  margin: 1rem 0;
  padding: 0 8px;
}

iframe {
  aspect-ratio: 16 / 9;
  border: 0;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.5);
  height: auto;
  margin: 0 0 2rem;
  max-width: 960px;
  position: relative;
  width: 100% !important;
}

input[type="number"] {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  caret-color: #C8102E;
  color: #C8102E;
  font-size: 2rem;
  font-weight: bold;
  max-width: 95px;
  outline: 0;
  padding: 3px;
  text-align: center;
  text-indent: 16px;
  width: 100%;
}

input[disabled] {
  background: transparent;
  border: 0;
}

input[type="number"]:focus-visible {
  border-bottom: 2px solid #C8102E;
}

input[type="number"]:focus-visible::placeholder {
  opacity: 0;
}

input[type="number"]::placeholder {
  color: #000;
  font-weight: normal;
  opacity: .25;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

div {
  margin: 0 auto;
  width: 100%;
}

@media (min-width:576px) {
  header {
    flex-direction: row;
    gap: 1rem;
    padding: 0;
  }
}

@media (min-width:992px) {
  #root {
    padding: 0;
  }
}