::-webkit-scrollbar {
  display: none;
  width: 0;
}

.search-accordion {
    align-items: center;
    color: #111;
    display: flex;
    font-size: 1.25rem;
    gap: .33rem;
    height: 0;
    justify-content: center;
    margin: 0;
    opacity: 0;
    overflow: hidden;

    &.show {
        height: auto;
        margin: 0 0 2rem;
        opacity: 1;
    }
}

.ice {
  background: url('../public/bg/ice.jpg');
  height: 100vh;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#cracked-ice {
  animation: iceChange 8s infinite alternate;
  background: url('../public/bg/cracked-ice.jpg');
}

@keyframes iceChange {
  0% {
    opacity: .5;
    transform: scale(1.0);
  }
  100% {
    opacity: .25;
    transform: scale(1.125);
  }
}

#goal {
  cursor: default;
  height: 55px;
  position: relative;
  width: 75px;
  z-index: 1;

    img {
        height: auto;
        width: 100%;
    }
}

#click-goal {
  cursor: url('../public/icons/puck.png') 7 3, auto;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#count {
    &:not([data-count='1']):after {
      content: 's';
    }

    &[data-count='0'],
    &[data-count='1'] {
        ~ .column-control  {
            display: none;
        }
    }
}

#otd {
    padding: .625rem .25rem;
}

.goal-count {
  color: #111;
  font-size: 3rem !important;
  position: relative;

    &:before {
        bottom: .75rem;
        color: #F34133;
        font-size: 1rem;
        position: relative;
        text-align: end;
    }
}

.goalie {
  text-align: end !important;
}

#wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 auto;
  max-width: 1500px;
  position: relative;
}

.multi-column {
    align-items: end !important;

    .goal-count:before {
        bottom: .75rem;
        color: #111;
        min-width: 0;
        position: relative;
        top: initial;
    }

    .goal-siren img {
        width: 60px;
    }

    .note {
        flex-direction: column-reverse !important;

        strong {
            font-size: 1.25rem;
        }
    }

    .frame,
    .shadow {
        margin-bottom: 0;
    }

    .tags {
        bottom: -1.125rem;
    }
}

.column-2 {
    .frame {
        flex-basis: calc(50% - 32px);
    }
}

.column-3 {
    .frame {
        flex-basis: calc(100% / 3 - 43px);
    }
}

#puck {
  background: url('../public/icons/puck.png') no-repeat;
  height: 8px;
  left: initial;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  top: initial;
  width: 14px;
  z-index: 3;
}

@keyframes goalClick {
    0% {
        opacity: 1;
    }
    95% {
        left: 50%;
        top: 150px;
        transform: scale(.5) translateX(-50%);
    }
    100% {
        left: 50%;
        top: 200px;
        transform: scale(.75) translateX(-50%);
    }
}

#search-text-1,
#search-text-2:focus,
#search-text-3:focus {
  height: auto;
  margin-top: 0;
  max-width: 325px;
  padding: .375rem .5rem;

}

#search-text-3 + div {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    width: auto;
}

#search-text-1:active + input,
#search-text-1:focus + input,
#search-text-2:active + input,
#search-text-2:focus + input {
  height: auto;
  margin-top: 0;
  max-width: 75px;
  padding: .375rem .5rem;
  text-align: center;
}

#advanced {
    select {
        background-color: transparent;
        border-color: #111;
        font-size: 1.25rem;
        font-weight: bold;
        min-width: 3.5rem;
        padding: .25rem;
    }
}

.column-control {
  display: none;
}

.note {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: relative;
  transition: all .25s ease-in-out;
  z-index: 1;

    > div {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        margin: 0;
        position: relative;
        width: auto;

        &:first-of-type {
            gap: 0;
        }
    }

    h3 {
        font-size: 1.5rem;
        margin: 0;
    }

    strong {
        font-size: 1.25rem;
        text-align: start;
    }

    .type {
        background: radial-gradient(#EF4933 40%, transparent);
        bottom: 1rem;
        color: #FFD2C7;
        font-size: 1.5rem;
        letter-spacing: -1px;
        margin: 0;
        position: absolute;
    }

    &:not([data-season='NHL']) .goal-count span:first-of-type {
        display: none;
    }
}

[data-float='1'],
[data-float='2'],
[data-float='3'],
[data-float='4'],
[data-float='5'],
[data-float='6'],
[data-float='7'],
[data-float='8'],
[data-float='9'] {
    &:after {
        content: '0';
    }
}

[data-season='NHL'] .goal-count {
  color: #F34133;
}

[data-season='IIHF'] .logo,
[data-season='KHL'] .logo,
[data-season='Olympics'] .logo,
[data-season*='World'] .logo {
  height: 2.25rem;
  width: 4rem;
  padding: 0 .5rem;
}

[data-season='All Star'] {
    .goal-count:before {
        content: 'AllStar';
    }

    .logo {
        margin-right: .25rem;
        max-width: 2.75rem;
    }
}

[data-season='IIHF'] .goal-count:before {
    content: 'IIHF';
}

[data-season='KHL'] .goal-count:before {
    content: 'KHL';
}

[data-season='Olympics'] .goal-count:before {
    content: 'Olympic';
}

[data-season='Playoffs'] .goal-count:before {
    content: 'Playoff';
}

[data-season='World Cup'] .goal-count:before {
    content: 'WorldCup';
}

.frame {
  margin: 0;
  max-width: 894px;
  position: relative;
}

.goal-siren {
  display: flex;
  justify-content: center;

    img {
        height: auto;
        width: 60px;
    }
}

.loading {
  opacity: .25;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.shot {
    #click-goal {
        cursor: auto;
    }

    #puck {
        animation: goalClick 500ms ease-in 1;
        opacity: 1;
    }
}

.goal-lights {
  animation: goalLights .5s linear infinite;

    #click-goal {
        cursor: auto;
    }

    #goal:before {
        background: url('../public/icons/puck.png') no-repeat;
        bottom: 2px;
        content: '';
        display: block;
        left: 30px;
        height: .5rem;
        position: absolute;
        transform: scale(.75);
        width: 14px;
    }
}

@keyframes goalLights {
  0% {
    background: rgba(200,16,46,.8);
  }
  25% {
    background: rgba(200,16,46,.2);
  }
  50% {
    background: rgba(200,16,46,.8);
  }
  75% {
    background: rgba(200,16,46,.2);
  }
  100% {
    background: rgba(200,16,46,.8);
  }
}

button {
  backface-visibility: hidden;
  background: #FFF;
  border: 0;
  border-radius: .375rem;
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.3;
  max-width: 100px;
  min-height: 40px;
  min-width: 40px;
  overflow: hidden;
  padding: .625rem .25rem;
  position: relative;
  transition: transform .2s;
  width: 100%;

  &:hover,
  &:active {
    background: #C8102E;
    color: #EFEFEF;
    box-shadow: 0 .5rem 2rem #111;
    transform: scale(1.05);
  }

    &[disabled] {
        opacity: .25;
        pointer-events: none;
    }

    &[title="Red"] {
        background: #C8102E;
    }

    &[title="White"] {
        background: #FFF;
    }

    &[title="Cup Run"] {
        background: #E0E0E0 url('../public/bg/cup.jpg') no-repeat scroll center / 100%;
        border: 1px solid #E0E0E0;
        color: #111;
        font-family: Georgia, serif;
    }

    &.multi-logo {
        background: #98012E;
        background-image: linear-gradient(-75deg, #062D60 48%, #98012E 49%);

        span {
            align-items: center;
            display: flex;
            justify-content: center;
            min-height: 40px;
            overflow: hidden;
            position: relative;
            width: 100%;

            &:first-of-type:after {
                bottom: -.875rem;
                color: #FFF;
                content: "|||||";
                font-size: 1.125rem;
                left: 0;
                letter-spacing: 2px;
                pointer-events: none;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }
    }

    &[title="Capitol / Screagle"] {
        background: #111;
        background-image: linear-gradient(-75deg, #FFF 48%, #111 49%);

        &:hover {
            box-shadow: 0 .5rem 2rem #CE8946;
            color: #333;
        }

        span:after {
            display: none !important;
        }
    }

    &[title="Capitals"] {
        background: #C81020;
        background-image: linear-gradient(-75deg, #C81020 30%, #FFF 31%, #FFF 69%, #C81020 70%);
    }

    &[title="Russia"] {
        background: #C8102E;
        background-image: linear-gradient(-75deg, #C8102E 28%, #FFF 29%, #FFF 71%, #C8102E 72%);

    }

    &[title="HC Dynamo Moscow"] {
        background: #FFF;
        background-image: linear-gradient(-75deg, #0033A0 30%, #FFF 31%, #FFF 69%, #0033A0 70%);

        &:hover {
            box-shadow: 0 .5rem 2rem #0033A0;
        }
    }

    &[title="Throwback Third"] {
        background: #C8102E;
        background-image: linear-gradient(-75deg, #E13A3E 28%, #FFF 29%, #FFF 71%, #E13A3E 72%);
    }

    &[title="Navy Third"] {
        background: #062D60;
        background-image: linear-gradient(#FFF 6%, #062D60 7%, #062D60 90%, #C8102E 91%);
    }

    &[title="Reverse Retro"] {
        background: #C81020;
        background-image: linear-gradient(-75deg, #111 30%, #C81020 31%, #C81020 69%, #111 70%);
    }

    &[title="Reset Filters"] {
        background: transparent;
        box-shadow: none;

        &:hover,
        &:active {
            color: #111;
            text-decoration: underline;
        }
    }

    &[title='Random Goal'] {
        width: 100px;

        &:after {
            content: 'ize';
        }
    }
}

.buttons-group {
  align-items: start;
  flex-direction: row;
  max-width: 375px;

    > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }
}

.coach-button:nth-child(odd) {
    background: #C8102E;
    color: #FFF;

    &:hover {
        background: #FFF;
        color: #111;
    }
}

.jersey-button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;

    &:hover {
        box-shadow: 0 .5rem 2rem #C8102E;
    }
}

.jersey-logo {
    max-width: 2.25rem;
}

[src="/jerseys/russia.svg"] {
    max-width: 1.33rem;
}

[src="/jerseys/capitals.svg"],
[src="/jerseys/throwback.svg"] {
    max-width: 2.25rem;
}

[src="/jerseys/brick.svg"],
[src="/jerseys/dynamo.svg"],
[src="/jerseys/navy.svg"] {
    max-width: 1.5rem;
}

form {
  align-items: center;
  background: rgba(203,236,255,.2);
  border-radius: 4rem;
  box-shadow: 0 .5rem 1rem rgba(75,75,75,.2);
  cursor: default !important;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto 2rem;
  max-width: 1024px;
  padding: 2rem 1rem 1rem;
  position: relative;
  z-index: 2;

    a {
        color: #111;
    }

    > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }
}

h2,
h3 {
  color: #111;
  font-size: 1.25rem;
  margin: 0;
}

h2.number {
  min-width: 175px;
}

iframe {
  aspect-ratio: 16 / 9;
  background: #111;
  border: 0;
  box-shadow: rgba(200, 16, 46, 0.4) 10px 10px, rgba(200, 16, 46, 0.2) 20px 20px;
  height: auto;
  min-height: 0;
  position: relative;
  width: 100% !important;
  z-index: 2;
}

label {
  font-weight: bold;
}

select {
  position: relative;
  z-index: 1;
}

.shadow {
  box-shadow: rgba(4, 30, 66, 0.4) -10px -10px, rgba(4, 30, 66, 0.2) -20px -20px;
  margin: 0 0 1rem;
  max-width: 992px;
  position: relative;

    &:before {
        content: "";
        cursor: default;
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.tags {
  bottom: -2px;
  display: block;
  margin: 0 0 0 1.25rem;
  max-height: .9375rem;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-align: start;
  width: 100%;
  z-index: 1 ;
}

#search-goal {
  caret-color: #C8102E;
  color: #C8102E;
  font-weight: bold;
  max-width: 125px;
  text-align: center;
  text-indent: .75rem;
}

input {
  position: relative;
  z-index: 1;

    &[placeholder] {
        background: transparent;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        border-top: 0;
        outline: 0;
        padding: 3px;
        width: 100%;
    }

    &[type="number"] {
        font-size: 1.5rem;

        &::placeholder {
            font-weight: 400;
        }
    }

    &[type="text"] {
        caret-color: #C8102E;
        color: #C8102E;
        font-weight: bold;
        height: 0;
        margin-top: -1rem;
        max-width: 0;
        overflow: hidden;
        padding: 0;
        text-transform: uppercase;
        width: 100%;

        &::placeholder {
            font-weight: normal;
            text-transform: none;
        }

        &:not(:placeholder-shown) {
            height: auto;
            margin-top: 0;
            max-width: 325px;
            padding: .375rem .5rem;
        }
    }
}

.hide {
    color: transparent;
    font-size: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -999;
}
/*max-widths*/
@media (max-width: 576px) {
    #click-goal {
        display: none;
    }

    h1 {
        font-size: 1.25rem;
    }
}
/*min-widths*/
@media (min-width: 576px) {
    .goal-count:before {
        min-width: 80px;
        position: absolute;
        right: 0;
        top: -.4rem;
    }

    .goal-siren img {
        width: 75px;
    }

    .note {
        flex-direction: row;
    }
}
@media (min-width: 768px) {
  form {
      padding: 2rem 2rem 1rem;

      > div {
          align-items: center;
          flex-direction: row;
          gap: .75rem;
          justify-content: end;

          &:first-of-type {
              justify-content: space-between;
              margin-bottom: .5rem;
          }
      }
  }

  input[type="text"] {
    text-align: left;
  }

  .buttons-group {
    flex-direction: column;
    max-width: none;

      > div {
          flex-direction: row;
      }
  }

  .hide {
    margin-right: -1rem;
  }
}
@media (min-width:992px) {
  .multi-column {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .column-control {
    display: block;
  }

  .note strong {
    font-size: 1.5rem;
  }
}
