#root {
  max-width: 75%;
}

.iframe {
  display: flex;
  justify-content: center;
}

iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  max-width: 1200px;
  width: 100% !important;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

div {
  margin: 0 auto;
  width: 100%;
}