::-webkit-scrollbar {
  display: none;
  width: 0;
}

.search-accordion {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    gap: .5rem;
    height: 0;
    justify-content: center;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 250ms ease-in;
}

.search-accordion.show {
    height: auto;
    margin: 0 0 2rem;
    opacity: 1;
}

#cracked-ice,
#ice {
  background: url('../public/bg/ice.jpg');
  height: 100vh;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#cracked-ice {
  animation: iceChange 8s infinite alternate;
  background: url('../public/bg/cracked-ice.jpg');
}

@keyframes iceChange {
  0% {
    opacity: .5;
    transform: scale(1.0);
  }
  100% {
    opacity: .25;
    transform: scale(1.125);
  }
}

#goal {
  cursor: none;
  height: 75px;
  position: relative;
  width: 75px;
  z-index: 1;
}

#click-goal {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

#goal img {
  height: auto;
  width: 100%;
}

.goal-count {
  color: #f34133;
  font-size: 3rem !important;
  margin: 0 .5rem;
}

.wrapper {
  max-width: 894px;
}

#ovi {
  display: block;
  margin-left: -65px;
  margin-top: -68px;
  pointer-events: none;
  position: fixed;
  z-index: 0;
}

#puck {
  background: url('../public/icons/puck.png') no-repeat;
  height: 8px;
  left: initial;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  top: initial;
  width: 14px;
  z-index: 3;
}

@keyframes goalClick {
    0% {
        opacity: 1;
    }
    95% {
        left: 50%;
        top: 105px;
        transform: translateX(-50%);
    }
    100% {
        left: 50%;
        top: 145px;
        transform: translateX(-50%);
    }
}

#root {
  max-width: 1024px;
}

#search-text-1,
#search-text-2:focus,
#search-text-3:focus {
  height: auto;
  margin-top: 0;
  max-width: 325px;
  padding: 3px 8px;
}

#search-text-1:active + input,
#search-text-1:focus + input,
#search-text-2:active + input,
#search-text-2:focus + input {
  height: auto;
  margin-top: 0;
  max-width: 75px;
  padding: 3px 8px;
}

#season {
  font-size: 1.25rem;
  padding: 4px;
}

.copy {
  background-color: transparent !important;
  background-image: url(/public/icons/copy.svg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  height: 16px;
  min-height: 0;
  min-width: 0;
  outline: 0;
  padding: 0;
  text-indent: -9999px;
  transform: none !important;
  width: 16px;
}

.copy:active {
  background-image: url(/public/icons/thumb.svg) !important;
}

.link {
  align-items: center;
  cursor: default;
  display: none;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.link[data-season='Regular'] {
  display: flex;
}

.link strong {
  font-size: 1.125rem;
  user-select: text;
}

.note {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: relative;
  transition: all .25s ease-in-out;
  z-index: 1;
}

.note[data-season='KHL'] .logo {
  padding: 0 .5rem;
}

.note > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  position: relative;
  width: auto;
}

.note > div:first-of-type {
   gap: 0;
}

.note .type {
  background: radial-gradient(#EF4933 40%, transparent);
  bottom: 1rem;
  color: #FFD2C7;
  font-size: 24px;
  letter-spacing: -1px;
  margin: 0;
  position: absolute;
}

.note h3 {
  font-size: 1.5rem;
  margin: 0;
}

.note strong {
  font-size: 1.25rem;
}

.frame {
  margin-bottom: 2.5rem;
  position: relative;
}

.goal-siren {
  display: flex;
  justify-content: center;
}

.goal-siren img {
  height: auto;
  width: 75px;
}

.loading {
  opacity: .25;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.logo[title='Amur Khabarovsk'] {
  padding: 0 8px;
}

body {
  cursor: url('../public/icons/puck.png') 7 3, auto;
}

body.shot {
  cursor: auto;
}

body.shot #puck {
  animation: goalClick 750ms ease-in 1;
  opacity: 1;
}

body.goal-lights {
  animation: goalLights .5s linear infinite;
  cursor: auto;
}

@keyframes goalLights {
  0% {
    background: rgba(200,16,46,.8);
  }
  25% {
    background: rgba(200,16,46,.2);
  }
  50% {
    background: rgba(200,16,46,.8);
  }
  75% {
    background: rgba(200,16,46,.2);
  }
  100% {
    background: rgba(200,16,46,.8);
  }
}

body.goal-lights #goal:before {
  background: url('../public/icons/puck.png') no-repeat;
  bottom: 23px;
  content: '';
  display: block;
  left: 30px;
  height: 8px;
  position: absolute;
  width: 14px;
}

button {
  backface-visibility: hidden;
  background: #FFF;
  border: 0;
  border-radius: .375rem;
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  box-sizing: border-box;
  color: #292929;
  cursor: pointer;
  display: inline-block;
  font-size: .9375rem;
  font-weight: 700;
  line-height: 1.3;
  max-width: 100px;
  min-height: 40px;
  overflow: hidden;
  padding: .625rem 0;
  position: relative;
  transition: transform .2s;
  width: 100%;
  z-index: 1;
}

button:hover,
button:active {
  background: #C8102E;
  color: #EFEFEF;
  box-shadow: 0 .5rem 3rem #000;
  transform: scale(1.05);
}

.buttons-group {
  align-items: start;
  flex-direction: row;
  max-width: 325px;
}

.buttons-group > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coach-button:nth-child(odd) {
    background: #C8102E;
    color: #FFF;
}

.coach-button:nth-child(odd):hover {
    background: #FFF;
    color: #000;
}

.coach-button[name="Glen Hanlon"]:hover {
    background: #000;
}

.jersey-button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}

.jersey-button:hover {
    box-shadow: 0 .5rem 3rem #C8102E;
}

.jersey-logo {
    max-width: 36px;
}

.jersey-logo[src="/jerseys/capitals.svg"] {
    max-width: 54px;
}

.jersey-logo[src="/jerseys/brick.svg"],
.jersey-logo[src="/jerseys/navy.svg"] {
    max-width: 24px;
}

.jersey-logo[src="/jerseys/throwback.svg"] {
    max-width: 40px;
}

button[name="Capitol"] {
  background: #000;
  background-image: linear-gradient(150deg, #000 80%, #CE8946 81%);
}

button[name="Screagle"] {
    background: #FFF;
    background-image: linear-gradient(150deg, #FFF 80%, #175787 81%);
}

button[name="Screagle"]:hover {
    box-shadow: 0 .5rem 3rem #175787;
}

button[name="Red"] {
    background: #C8102E;
}

button[name="White"] {
    background: #FFF;
}

button[name="Barry Trotz"] {
    background: #E0E0E0 url('../public/bg/cup.jpg') no-repeat scroll center / 100%;
    color: #333;
}

button[name="Barry Trotz"]:hover {
    box-shadow: 0 .5rem 3rem #A0A0A0;
    color: #333;
}

button[name="Brick Stars & Stripes"] {
    background: #98012E;
}

button[name="Brick Stars & Stripes"]:before,
button[name="Brick Stars & Stripes"]:after {
    bottom: 14px;
    color: #FFF;
    content: "|||";
    font-size: 18px;
    pointer-events: none;
    position: relative;
    right: 12px;
}

button[name="Brick Stars & Stripes"]:after {
    right: -12px;
}

button[name="Throwback"] {
    background: #C8102E;
    background-image: linear-gradient(50deg, #E13A3E 25%, #FFF 26%, #FFF 74%, #E13A3E 75%);
}

button[name="Navy"] {
    background: #062D60;
    background-image: linear-gradient(#FFF 6%, #062D60 7%, #062D60 90%, #C8102E 91%);
}

button[name="Reverse Retro"] {
    background: #C8102E;
    background-image: linear-gradient(50deg, #C81020 49%, #000000 51%);
}

button[name="Capitol"]:hover,
button[name="Reverse Retro"]:hover {
    box-shadow: 0 .5rem 3rem #000000;
}

button[name="Reset"] {
  background: transparent;
  box-shadow: none;
}

button[name="Reset"]:hover,
button[name="Reset"]:active {
  color: #292929;
  transform: none;
}

form {
  align-items: center;
  background: rgba(242,240,239,.5);
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 0 2rem;
  padding: 1.5rem;
  position: relative;
}

form > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

form small {
  min-width: 48px;
}

form h2 {
  color: #C8102E;
  font-size: 1.25rem;
  margin: 0;
  min-width: 95px;
}

form h2:after {
    content: ' By';
}

.randomize {
    border-bottom: 2px solid #CE8946;
    font-size: 1.25rem;
    margin: 6px 0 0;
    min-width: 130px;
    padding: 0 0 3px;
}

.randomize:before {
    content: 'or ';
}

@media (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}

header a:hover {
  color: #C8102E;
}

iframe {
  aspect-ratio: 16 / 9;
  background: #000;
  border: 0;
  box-shadow: rgba(200, 16, 46, 0.4) 10px 10px, rgba(200, 16, 46, 0.3) 20px 20px, rgba(200, 16, 46, 0.2) 30px 30px, rgba(200, 16, 46, 0.1) 40px 40px, rgba(200, 16, 46, 0.05) 50px 50px;
  height: auto;
  min-height: 0;
  position: relative;
  width: 100% !important;
}

select {
  position: relative;
  z-index: 1;
}

.shadow {
  box-shadow: rgba(4, 30, 66, 0.4) -10px -10px, rgba(4, 30, 66, 0.3) -20px -20px, rgba(4, 30, 66, 0.2) -30px -30px, rgba(4, 30, 66, 0.1) -40px -40px, rgba(4, 30, 66, 0.05) -50px -50px;
  margin: 0 0 2rem;
  max-width: 992px;
  position: relative;
}

.shadow:before {
    content: "";
    cursor: default;
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

input[placeholder] {
  background: transparent;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  outline: 0;
  padding: 3px;
  width: 100%;
}

#search-goal {
  caret-color: #C8102E;
  color: #C8102E;
  max-width: 90px;
  text-align: center;
  text-indent: 12px;
}

input {
  position: relative;
  z-index: 1;
}

input[type="text"] {
  caret-color: #C8102E;
  color: #C8102E;
  height: 0;
  margin-top: -1rem;
  max-width: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

input[type="text"]:not(:placeholder-shown) {
  height: auto;
  margin-top: 0;
  max-width: 325px;
  padding: 3px 8px;
}

input[type="text"]::placeholder {
  color: #777;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: none;
}

input[type="number"]:focus-visible {
  border-bottom: 2px solid #C8102E;
}

input[type="number"]:focus-visible::placeholder {
  opacity: 0;
}

input[type="number"]::placeholder {
  color: #AAA;
  font-weight: 400;
}

label {
  cursor: url('../public/icons/puck.png') 7 3, auto;
}

@media (min-width: 400px) {
    button {
        padding: .625rem 1rem;
    }
}
@media (min-width: 576px) {
    .note {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
  form > div {
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
  }

  form > div:first-of-type {
    justify-content: start;
    margin-bottom: 1rem;
  }

  input[type="text"] {
    text-align: left;
  }

  .buttons-group {
    flex-direction: column;
    max-width: none;
  }

  .buttons-group > div {
    flex-direction: row;
  }
}
@media (min-width:992px) {
  .note strong {
    font-size: 1.5rem;
  }

  .icon {
    height: 44px;
    width: 44px;
  }

  #root {
    padding: 0 16px;
  }
}
