::-webkit-scrollbar {
  display: none;
  width: 0;
}

.search-accordion {
    align-items: center;
    color: #111;
    display: flex;
    font-size: 1.25rem;
    gap: .33rem;
    height: 0;
    justify-content: center;
    margin: 0;
    opacity: 0;
    overflow: hidden;

    &.show {
        height: auto;
        margin: 0 0 2rem;
        opacity: 1;
    }
}

.ice {
  background: url('../public/bg/ice.jpg');
  height: 100vh;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#cracked-ice {
  animation: iceChange 8s infinite alternate;
  background: url('../public/bg/cracked-ice.jpg');
}

@keyframes iceChange {
  0% {
    opacity: .5;
    transform: scale(1.0);
  }
  100% {
    opacity: .25;
    transform: scale(1.125);
  }
}

#goal {
  cursor: none;
  height: 55px;
  position: relative;
  width: 75px;
  z-index: 1;

    img {
        height: auto;
        width: 100%;
    }
}

#click-goal {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.goal-count {
  color: #111;
  font-size: 3rem !important;
  position: relative;

    &:before {
        bottom: .75rem;
        color: #F34133;
        font-size: 1rem;
        position: relative;
        text-align: end;
    }
}

.goalie {
  text-align: end !important;
}

#search-flex {
    align-items: center;
    display: flex;
    gap: .25rem;
    justify-content: center;
    margin: 0;
    width: auto;
}

#wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  max-width: 1400px;
}

.multi-column {
    align-items: end !important;

    .goal-count:before {
        bottom: .75rem;
        color: #111;
        min-width: 0;
        position: relative;
        top: initial;
    }

    .goal-siren img {
        width: 60px;
    }

    .note {
        flex-direction: column-reverse !important;

        strong {
            font-size: 1.25rem;
        }
    }

    .frame,
    .shadow {
        margin-bottom: 0;
    }
}

.column-2 .frame {
  flex-basis: calc(50% - 1.5rem);
}

.column-3 .frame {
  flex-basis: calc(33.33% - 3rem);
}

#ovi {
  display: block;
  margin-left: -65px;
  margin-top: -68px;
  pointer-events: none;
  position: fixed;
  z-index: 0;
}

#puck {
  background: url('../public/icons/puck.png') no-repeat;
  height: 8px;
  left: initial;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  top: initial;
  width: 14px;
  z-index: 3;
}

@keyframes goalClick {
    0% {
        opacity: 1;
    }
    95% {
        left: 50%;
        top: 138px;
        transform: translateX(-50%);
    }
    100% {
        left: 50%;
        top: 180px;
        transform: translateX(-50%);
    }
}

#search-text-1,
#search-text-2:focus,
#search-text-3:focus {
  height: auto;
  margin-top: 0;
  max-width: 325px;
  padding: 3px 8px;
}

#search-text-3 + div {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    width: auto;
}

#search-text-1:active + input,
#search-text-1:focus + input,
#search-text-2:active + input,
#search-text-2:focus + input {
  height: auto;
  margin-top: 0;
  max-width: 75px;
  padding: 3px 8px;
}

#advanced select {
  background-color: transparent;
  border-color: #111;
  font-size: 1.125rem;
  font-weight: bold;
  min-width: 3.5rem;
  padding: .25rem;
}

.column-control {
  display: none;
}

.note {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: relative;
  transition: all .25s ease-in-out;
  z-index: 1;

    > div {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        margin: 0;
        position: relative;
        width: auto;

        &:first-of-type {
            gap: 0;
        }
    }

    h3 {
        font-size: 1.5rem;
        margin: 0;
    }

    strong {
        font-size: 1.25rem;
        text-align: start;
    }

    .type {
        background: radial-gradient(#EF4933 40%, transparent);
        bottom: 1rem;
        color: #FFD2C7;
        font-size: 1.5rem;
        letter-spacing: -1px;
        margin: 0;
        position: absolute;
    }

    &:not([data-season='Regular']) .goal-count span:first-of-type {
        display: none;
    }
}

[data-season='Regular'] .goal-count {
  color: #F34133;
}

[data-season='IIHF'] .logo,
[data-season='KHL'] .logo,
[data-season='Olympics'] .logo,
[data-season='World Cup'] .logo {
  height: 2.25rem;
  width: 4rem;
  padding: 0 .5rem;
}

[data-season='All Star'] {
    .goal-count:before {
        content: 'ASG';
    }

    .logo {
        padding: 0 .75rem;
    }
}

[data-season='IIHF'] .goal-count:before {
    content: 'IIHF';
}

[data-season='KHL'] .goal-count:before {
    content: 'KHL';
}

[data-season='Olympics'] .goal-count:before {
    content: 'Olympic';
}

[data-season='Playoffs'] .goal-count:before {
    content: 'Playoff';
}

[data-season='World Cup'] .goal-count:before {
    content: 'World Cup';
}

.frame {
  margin: 0;
  max-width: 894px;
  position: relative;
}

.goal-siren {
  display: flex;
  justify-content: center;

    img {
        height: auto;
        width: 60px;
    }
}

.loading {
  opacity: .25;
}

.logo {
  height: 4rem;
  width: 4rem;
}

body {
  cursor: url('../public/icons/puck.png') 7 3, auto;

    &.shot {
        cursor: auto;

        #puck {
            animation: goalClick 750ms ease-in 1;
            opacity: 1;
        }
    }
}

.goal-lights {
  animation: goalLights .5s linear infinite;
  cursor: auto;

    #goal:before {
        background: url('../public/icons/puck.png') no-repeat;
        bottom: 2px;
        content: '';
        display: block;
        left: 30px;
        height: .5rem;
        position: absolute;
        width: 14px;
    }
}

@keyframes goalLights {
  0% {
    background: rgba(200,16,46,.8);
  }
  25% {
    background: rgba(200,16,46,.2);
  }
  50% {
    background: rgba(200,16,46,.8);
  }
  75% {
    background: rgba(200,16,46,.2);
  }
  100% {
    background: rgba(200,16,46,.8);
  }
}

button {
  backface-visibility: hidden;
  background: #FFF;
  border: 0;
  border-radius: .375rem;
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-size: .9375rem;
  font-weight: 700;
  line-height: 1.3;
  max-width: 100px;
  min-height: 40px;
  overflow: hidden;
  padding: .625rem 0;
  position: relative;
  transition: transform .2s;
  width: 100%;
  z-index: 1;

  &:hover,
  &:active {
    background: #C8102E;
    color: #EFEFEF;
    box-shadow: 0 .5rem 2rem #111;
    transform: scale(1.05);
  }
}

[title='Random Goal'] {
  max-width: none;

    &:after {
        content: 'ize';
    }
}

[title="Glen Hanlon"]:hover {
    background: #111;
}

[title="Capitol"] {
    background: #111;
    background-image: linear-gradient(150deg, #111 76%, #32599E 77%, #32599E 80%, #CE8946 81%);
}

[title="Screagle"] {
    background: #FFF;
    background-image: linear-gradient(150deg, #FFF 76%, #CE8946 77%, #CE8946 80%, #175787 81%);

    &:hover {
        box-shadow: 0 .5rem 2rem #175787;
    }
}

[title="Red"] {
    background: #C8102E;
}

[title="White"] {
    background: #FFF;
}

[title="Barry Trotz"] {
    background: #E0E0E0 url('../public/bg/cup.jpg') no-repeat scroll center / 100% !important;
    color: #333;

    &:hover {
        box-shadow: 0 .5rem 2rem #A0A0A0;
        color: #333;
    }
}

[title="Brick Stars & Stripes"] {
    background: #98012E;

    &:before,
    &:after {
        bottom: 14px;
        color: #FFF;
        content: "|||";
        font-size: 1.125rem;
        pointer-events: none;
        position: relative;
        right: .75rem;
    }

    &:after {
        right: -.75rem;
    }
}

[title="Throwback Third"] {
    background: #C8102E;
    background-image: linear-gradient(50deg, #E13A3E 25%, #FFF 26%, #FFF 74%, #E13A3E 75%);
}

[title="Navy"] {
    background: #062D60;
    background-image: linear-gradient(#FFF 6%, #062D60 7%, #062D60 90%, #C8102E 91%);
}

[title="Reverse Retro"] {
    background: #C8102E;
    background-image: linear-gradient(50deg, #C81020 49%, #111 51%);
}

[title="Capitol"]:hover,
[title="Reverse Retro"]:hover {
    box-shadow: 0 .5rem 2rem #111;
}

[title="Reset Filters"] {
    background: transparent !important;
    box-shadow: none !important;

    &:hover,
    &:active {
        color: #111;
        text-decoration: underline;
    }
}

.buttons-group {
  align-items: start;
  flex-direction: row;
  max-width: 325px;

    > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.coach-button:nth-child(odd) {
    background: #C8102E;
    color: #FFF;

    &:hover {
        background: #FFF;
        color: #111;
    }
}

.jersey-button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;

    &:hover {
        box-shadow: 0 .5rem 2rem #C8102E;
    }
}

.jersey-logo {
    max-width: 2.25rem;
}

[src="/jerseys/capitals.svg"],
[src="/jerseys/throwback.svg"] {
    max-width: 2.75rem;
}

[src="/jerseys/brick.svg"],
[src="/jerseys/navy.svg"] {
    max-width: 1.5rem;
}

form {
  align-items: center;
  background: rgba(242,240,239,.5);
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto 2rem;
  max-width: 1024px;
  padding: 1.5rem;
  position: relative;

    > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    small {
        min-width: 3rem;
    }
}

h2,
h3 {
  color: #111;
  font-size: 1.25rem;
  margin: 0;
  min-width: 95px;
}

h3 {
    min-width: 130px;
}

h2:after {
    content: ' by';
}

iframe {
  aspect-ratio: 16 / 9;
  background: #111;
  border: 0;
  box-shadow: rgba(200, 16, 46, 0.5) 10px 10px, rgba(200, 16, 46, 0.25) 20px 20px, rgba(200, 16, 46, 0.15) 30px 30px;
  height: auto;
  min-height: 0;
  position: relative;
  width: 100% !important;
}

select {
  position: relative;
  z-index: 1;
}

.shadow {
  box-shadow: rgba(4, 30, 66, 0.5) -10px -10px, rgba(4, 30, 66, 0.25) -20px -20px, rgba(4, 30, 66, 0.15) -30px -30px;
  margin: 0 0 2rem;
  max-width: 992px;
  position: relative;

    &:before {
        content: "";
        cursor: default;
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.tags {
  display: block;
  margin: -2rem 0 0;
  pointer-events: none;
  position: relative;
  z-index: 1 ;
}

#search-goal {
  caret-color: #C8102E;
  color: #C8102E;
  max-width: 90px;
  text-align: center;
  text-indent: .75rem;
}

input {
  position: relative;
  z-index: 1;

    &[placeholder] {
        background: transparent;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        border-top: 0;
        font-size: 1.5rem;
        font-weight: bold;
        outline: 0;
        padding: 3px;
        width: 100%;
    }

    [type="number"] {
        &:focus-visible {
            border-bottom: 2px solid #C8102E;

            &::placeholder {
                opacity: 0;
            }
        }

        &::placeholder {
            color: #AAA;
            font-weight: 400;
        }
    }

    &[type="text"] {
        caret-color: #C8102E;
        color: #C8102E;
        height: 0;
        margin-top: -1rem;
        max-width: 0;
        overflow: hidden;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &::placeholder {
            color: #777;
            font-size: 1.125rem;
            font-weight: 400;
            margin-bottom: 1rem;
            text-transform: none;
        }

        &:not(:placeholder-shown) {
            height: auto;
            margin-top: 0;
            max-width: 325px;
            padding: 3px .5rem;
        }
    }
}

label {
  color: #111;
  cursor: url('../public/icons/puck.png') 7 3, auto;
  font-weight: bold;
}

.hide {
    color: transparent;
    font-size: 0;
    height: 0;
    margin-bottom: -1rem;
    overflow: hidden;
    width: 0;
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.25rem;
    }
}
@media (min-width: 400px) {
    button {
        padding: .625rem 1rem;
    }
}
@media (min-width: 576px) {
    .goal-count:before {
        min-width: 80px;
        position: absolute;
        right: 0;
        top: -.4rem;
    }

    .goal-siren img {
        width: 75px;
    }

    .note {
        flex-direction: row;
    }
}
@media (min-width: 768px) {
  #search-flex {
    justify-content: end;
  }

  form > div {
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;

      &:first-of-type {
          justify-content: center;
          margin-bottom: 1rem;
      }
  }

  input[type="text"] {
    text-align: left;
  }

  .buttons-group {
    flex-direction: column;
    max-width: none;

      > div {
          flex-direction: row;
      }
  }

  .hide {
    margin-bottom: 0;
    margin-right: -1rem;
  }
}
@media (min-width:992px) {
  .multi-column {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .column-control {
    display: block;
  }

  .note strong {
    font-size: 1.5rem;
  }
}
