::-webkit-scrollbar {
  display: none;
  width: 0;
}

#advanced {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 0 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms;
}

#advanced.show {
  opacity: 1;
  pointer-events: all;
}

#advanced label,
#count {
  font-size: 1.5rem;
}

#cracked-ice,
#ice {
  background: url('../public/bg/ice.jpg');
  height: 100vh;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#cracked-ice {
  animation: iceChange 8s infinite alternate;
  background: url('../public/bg/cracked-ice.jpg');
}

@keyframes iceChange {
  0% {
    opacity: .5;
    transform: scale(1.0);
  }
  100% {
    opacity: .25;
    transform: scale(1.125);
  }
}

#goal {
  cursor: none;
  height: 75px;
  position: relative;
  width: 75px;
  z-index: 1;
}

#click-goal {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

#goal img {
  height: auto;
  width: 100%;
}

.goal-count {
  font-size: 3rem !important;
}

.goal-count[data-season="All Star"]:before {
  content: "All Star #";
}

.goal-count[data-season="KHL"]:before {
  content: "KHL #";
}

.goal-count[data-season="Playoffs"]:before {
  content: "Playoff #";
}

.goal-count span {
  display: inline-flex;
}

.goal-count[data-season="All Star"] span,
.goal-count[data-season="KHL"] span,
.goal-count[data-season="Playoffs"] span {
  font-family: monospace;
  overflow: hidden;
  text-indent: -5ch;
  white-space: nowrap;
}

.wrapper {
  max-width: 894px;
}

#ovi {
  display: block;
  margin-left: -65px;
  margin-top: -68px;
  pointer-events: none;
  position: fixed;
  z-index: 0;
}

#puck {
  background: url('../public/icons/puck.png') no-repeat;
  height: 8px;
  left: initial;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: initial;
  width: 14px;
  z-index: 3;
}

#puck.shot {
  animation: goalClick 750ms ease-in 1;
  opacity: 1;
}

@keyframes goalClick {
    0% {
        opacity: 1;
    }
    100% {
        left: 50%;
        top: 145px;
        transform: translateX(-50%);
    }
}

#root {
  max-width: 1024px;
}

#search-text-1,
#search-text-2:focus,
#search-text-3:focus {
  max-width: 100%;
  padding: 3px 8px;
}

#search-text-1:active + input,
#search-text-1:focus + input,
#search-text-2:active + input,
#search-text-2:focus + input {
  max-width: 75px;
  padding: 3px 8px;
}

#season {
  font-size: 1.25rem;
  padding: 4px;
}

.copy {
  background-color: transparent;
  background-image: url(/public/icons/copy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  height: 16px;
  min-width: 0;
  outline: 0;
  padding: 0;
  text-indent: -9999px;
  width: 16px;
}

.copy:active {
  background-image: url(/public/icons/thumb.svg);
}

.goal-text {
  bottom: 2rem;
  color: #1E3673;
  font-size: 2rem;
  position: absolute;
}

.link {
  align-items: center;
  cursor: default;
  display: none;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.link[data-season="Regular"] {
  display: flex;
}

.link strong {
  font-size: 1.125rem;
  user-select: text;
}

.note {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  justify-content: center;
  left: -30px;
  transition: all .25s ease-in-out;
  z-index: 1;
}

.note > div {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  margin: 0;
  position: relative;
  width: auto;
}

.note > div:first-of-type {
  align-items: center;
  justify-content: center;
  width: 100px;
}

.note .type {
  background: radial-gradient(#EF4933 40%, transparent);
  color: #FFD2C7;
  font-size: 2rem;
  left: 50%;
  letter-spacing: -2px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%,calc(-50% + 12px));
}

.note h3 {
  font-size: 1.5rem;
  margin: 0;
}

.note strong {
  font-size: 1.25rem;
}

.frame {
  margin-bottom: 2.5rem;
  position: relative;
}

.goal-light {
  height: auto;
  width: 18px;
}

.goal-siren {
  height: auto;
  pointer-events: all;
  width: 70px;
}

.loading {
  opacity: .25;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.record-light {
  height: auto;
  width: 30px;
}

body {
  cursor: url('../public/icons/puck.png') 7 3, auto;
}

body.cursor {
  cursor: auto;
}

body.goal-lights {
  animation: goalLights .5s linear infinite;
  cursor: auto;
}

@keyframes goalLights {
  0% {
    background: rgba(200,16,46,.8);
  }
  25% {
    background: rgba(200,16,46,.2);
  }
  50% {
    background: rgba(200,16,46,.8);
  }
  75% {
    background: rgba(200,16,46,.2);
  }
  100% {
    background: rgba(200,16,46,.8);
  }
}

body.goal-lights #goal:before {
  background: url('../public/icons/puck.png') no-repeat;
  bottom: 23px;
  content: '';
  display: block;
  left: 30px;
  height: 8px;
  position: absolute;
  width: 14px;
}

button {
  backface-visibility: hidden;
  background: #FFF;
  border: 0;
  border-radius: .375rem;
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  box-sizing: border-box;
  color: #292929;
  cursor: pointer;
  display: inline-block;
  font-size: .9375rem;
  font-weight: 700;
  line-height: 1.3;
  min-width: 150px;
  padding: .625rem 1rem;
  position: relative;
  transition: transform .2s;
  z-index: 1;
}

button:hover,
button:active {
  background: #C8102E;
  color: #EFEFEF;
  box-shadow: 0 .5rem 3rem #CE8946;
  transform: scale(1.05);
}

.coach-button:nth-child(odd) {
    background: #C8102E;
    color: #FFF;
}

.coach-button:nth-child(odd):hover {
    background: #FFF;
    color: #000;
}

.coach-button[name="Glen Hanlon"] {
  background: #175787;
  color: #FFF;
}

.coach-button[name="Glen Hanlon"]:hover {
    background: #000;
}

.jersey-button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    min-height: 38px;
}

.jersey-button:hover {
    box-shadow: 0 .5rem 3rem #C8102E;
}

.jersey-logo {
    max-width: 36px;
}

.jersey-logo[src="/jerseys/capitals.svg"] {
    max-width: 54px;
}

.jersey-logo[src="/jerseys/brick.svgz"],
.jersey-logo[src="/jerseys/navy.svgz"] {
    max-width: 24px;
}

.jersey-logo[src="/jerseys/throwback.svgz"] {
    max-width: 40px;
}

button[name="Capitol"] {
  background: #000;
}

button[name="Screagle"] {
    background: #FFF;
}

button[name="Screagle"]:hover {
    box-shadow: 0 .5rem 3rem #175787;
}

button[name="Red"] {
    background: #C8102E;
}

button[name="White"] {
    background: #FFF;
}

button[name="Barry Trotz"] {
    background: #E0E0E0 url('../public/bg/cup.jpg') no-repeat scroll center / 100%;
}

button[name="Barry Trotz"]:hover {
    box-shadow: 0 .5rem 3rem #A0A0A0;
    color: #000;
}


button[name="Brick Stars & Stripes"] {
    background: #98012E;
}

button[name="Throwback"] {
    background: #C8102E;
    background-image: linear-gradient(50deg, #E13A3E 25%, #FFFFFF 26%, #FFFFFF 74%, #E13A3E 75%);
}

button[name="Navy"] {
    background: #041e41;
}

button[name="Reverse Retro"] {
    background: #C8102E;
    background-image: linear-gradient(50deg, #C81020 49%, #000000 51%);
}

button[name="Capitol"]:hover,
button[name="Reverse Retro"]:hover {
    box-shadow: 0 .5rem 3rem #000000;
}

button[name="Reset"] {
  background: transparent;
  box-shadow: none;
}

button[name="Reset"]:hover,
button[name="Reset"]:active {
  color: #292929;
  transform: none;
}

form {
  align-items: center;
  background: rgba(242,240,239,.5);
  box-shadow: 0 .5rem 1rem rgba(41,41,41,.25);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 2rem 2rem 1rem;
  position: relative;
}

form > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

form h2 {
  color: #C8102E;
  font-size: 1.5rem;
  margin: 0;
}

form strong {
  border-bottom: 3px solid #CE8946;
  font-size: 1.33rem;
}

@media (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}

header {
  margin: 2rem 0;
  position: relative;
  z-index: 1;
}

header a:hover {
  color: #C8102E;
}

iframe {
  aspect-ratio: 16 / 9;
  background: #000;
  border: 0;
  box-shadow: rgba(200, 16, 46, 0.4) 10px 10px, rgba(200, 16, 46, 0.3) 20px 20px, rgba(200, 16, 46, 0.2) 30px 30px, rgba(200, 16, 46, 0.1) 40px 40px, rgba(200, 16, 46, 0.05) 50px 50px;
  height: auto;
  min-height: 0;
  position: relative;
  width: 100% !important;
}

select {
  position: relative;
  z-index: 1;
}

.shadow {
  box-shadow: rgba(4, 30, 66, 0.4) -10px -10px, rgba(4, 30, 66, 0.3) -20px -20px, rgba(4, 30, 66, 0.2) -30px -30px, rgba(4, 30, 66, 0.1) -40px -40px, rgba(4, 30, 66, 0.05) -50px -50px;
  margin: 0 0 3rem;
  max-width: 992px;
}

input[placeholder] {
  background: transparent;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  outline: 0;
  padding: 3px;
  width: 100%;
}

#search-goal {
  caret-color: #C8102E;
  color: #C8102E;
  max-width: 90px;
  text-align: center;
  text-indent: 12px;
}

input {
  position: relative;
  z-index: 1;
}

input[type="text"] {
  caret-color: #C8102E;
  color: #C8102E;
  margin-top: 1px;
  max-width: 0;
  padding: 3px 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 500ms;
  width: 100%;
}

input[type="text"]:not(:placeholder-shown) {
  max-width: 100%;
  padding: 3px 8px;
}

input[type="text"]::placeholder {
  font-size: 1.35rem;
  font-weight: 400;
}

input[type="number"]:focus-visible {
  border-bottom: 2px solid #C8102E;
}

input[type="number"]:focus-visible::placeholder {
  opacity: 0;
}

input[type="number"]::placeholder {
  color: #000;
  font-weight: normal;
  opacity: .5;
}

input[type="text"]::placeholder {
  text-transform: none;
}

label {
  cursor: url('../public/icons/puck.png') 7 3, auto;
  min-width: 105px;
}

label[for="search-goal"]:before {
  content: 'by ';
}

label[for="search-text-1"] {
  min-width: 68px;
}

label[for="search-text-1"]:before {
  content: 'by ';
}

@media (min-width: 768px) {
  button {
    min-width: 90px;
  }

  form > div {
    flex-direction: row;
    justify-content: flex-end;
  }

  input[type="text"] {
    text-align: left;
  }

  .note {
    flex-direction: row;
  }
}
@media (min-width:992px) {
  .goal-siren {
    width: 100px;
  }

  .note strong {
    font-size: 1.5rem;
  }

  .icon {
    height: 44px;
    width: 44px;
  }

  #root {
    padding: 0 16px;
  }
}
